tls:
  stores:
    default:
      defaultGeneratedCert:
        resolver: cloudflare
        domain:
          main: {{ place_domain }}
          sans:
            - '*.{{ place_domain }}'

http:
  routers:
{% for service in proxy_services %}
    {{ service.name }}:
      rule: Host(`{{ service.name }}.{{ place_domain }}`)
      entryPoints:
        - websecure
      service: {{ service.name }}
      tls: {}
{% endfor %}

  services:
{% for service in proxy_services %}
    {{ service.name }}:
      loadBalancer:
        servers:
          - url: {{ service.url }}
{% endfor %}
