[defaults]
inventory             = ../build/hosts.yml
roles_path            = roles
interpreter_python    = auto_silent
stdout_callback       = yaml
display_skipped_hosts = false

[ssh_connection]
pipelining = true
